@use 'fonts';

$primary-color: black;
$secondary-color: #df974c;
$body-text-color: white;
$heading-font: 'quicksandbold', Helvetica, Arial;
$body-font: 'quicksandlight', Helvetica, Arial;
$base-font-size: 18px;
$base-font-weight: 400;